
/* header layout */
.header {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 13px 13px 13px;
    border-bottom: 1px solid var(--border);
    background: var(--surface);
}

.header-icon {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: var(--accent-lo);
    border: 1px solid var(--border);

    /* flexbox to center the svg in its box */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: var(--accent);
}

.header-title {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.header-badge {
    /* since the parent is flexbox, margin-auto in child fill empty space */
    margin-left: auto;

    font-size: 10px;
    letter-spacing: 0.08em;
    color: var(--text-dim);
    background: var(--surface2);
    border: 1px solid var(--border-lo);
    border-radius: 5px;
    padding: 4px 6px;
    text-transform: uppercase;
}

