
/* toggle row and button */
.toggle-row {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    transition: background 0.12s;
    user-select: none;
}

.toggle-row:last-child { border-bottom: none; }
.toggle-row:hover { background: var(--surface2); }

.toggle-label {
    flex: 1;
    font-size: 10.5px;
}

.toggle-label.dimmed {
    color: var(--text-dim);
    /* text-decoration: line-through; */
    text-decoration-color: var(--off)
}

.toggle-button {
    width: 32px;
    height: 17px;
    flex-shrink: 0;
    border-radius: 9px;
    background: var(--off);
    position: relative;
    transition: background 0.18s ease;
}

.toggle-button:after {
    content: "";
    top: 2px;
    left: 2px;
    width: 13px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.18s ease;
}

.toggle-button.on { background: var(--on); }
.toggle-button.on:after { transform: translateX(15px); }

